body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

p b {
  font-weight: bold;
}

p em {
  font-style: italic;
}

p u {
  text-decoration: underline;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  border-left: 3px solid #ccc;
  color: #666;
  font-style: italic;
}
